.env
note.md

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/
.metadata/
bin/

# IntelliJ Idea
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Security
# Contains cleartext credentials
src/main/java/jv16_Kadai03_B19/dao/DatabaseConnection.java
